@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600&display=swap');
:root{
    --f--base:"Josefin Sans",sans-serif;
    --n--height:100px;
}
*,*::after, *::before{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
html{
    scroll-behavior:smooth;
}
body{
    color:black;
    font-family:var(--f--base);
    line-height:1.2;
}
h1,h2,h3,h4,h5,h6{
   
    line-height:1.2;
    margin-bottom:10px;
    font-weight:400;
}
.heading-1{
    font-size:100px;
}
.heading-2{
    font-size:75px;
    

}
.heading-3{
    font-size:25px;
    color:#e7fe39c0;
}

img{
    max-width: 100%;
    height: auto;
}
a{
    color:#DC5F00;
    text-decoration:none;
    transition:all 0.4s ease-in-out;
}
a:hover{
    color#FEDB39:;
}

ul{
    list-style: none;
}
section{
    padding:140px 0;
}
.container{
    max-width:1140px;
    width:100%;
    margin:0 auto;
    background-color:none;
    padding-left:24px ;
    padding-right:24px;
}
p{
    color: #FEDB39;
}
.btn{
    border:none;
    padding: 10px 30px;
    font-size: 20px;
    position:relative;
    background:#bd370a;
    color:black;
    text-transform:uppercase;
    border: none;
    cursor:pointer;
    transition:all 0.7s;
    overflow:hidden;
    border-radius: 70px;
    transition: all 0.4s ease-in-out;
    
    
}
.btn:hover{
    background:#e4ae0cfc;
    
    }
/*navbar*/
.navbar{
    
    position:fixed;
    width:100%;
    height:var(--n--height);
    display:flex;
    z-index:999;
    
}

.navbar .container{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.nav-links{
    display:flex;
}
.nav-links li:not(:last-child){
    margin-right: 44px;
}
.nav-links li.active a{
    box-shadow: 0 2px #FEDB39;
}
.nav-links li a{
    color:#DC5F00;
    font-size:15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.nav-links li a:hover{
    color:#FEDB39;
}
.hamburger{
    display:block;
    cursor:pointer;
    display: none;
    }
    .hamburger span{
        display:block;
        width:34px;
        height: 2px;
        background-color:#DC5F00;
        margin: 8px auto;
        transition:all 0.4s ease;

    }
    .hamburger.active span:nth-child(1){
        transform: translateY(5px) rotate(45deg);
    }
    .hamburger.active span:nth-child(2){
        transform: translateX(5px) rotate(-45deg);
    }
    .scrolled{
        background-color: black;
    }
    .scrolled .nav-links li a{
        color:#bd370a;
    }
    .scrolled .nav-links li a:hover{
        color:#FEDB39
    }
    .scrolled .hamburger span{
        background-color:#bd370a;
    }
    @media(max-width: 768px){
      .nav-links{
        position:fixed;
        top:var(--n--height);
        left:0;
       width: 100%;
        flex-direction:column;
        padding:0 24px;
        transition:all 0.3s ease-in-out;
        height:0;
        background-color: black;
        overflow:hidden;
        justify-content: center;

      }
      .nav-links li a{
        color:#DC5F00;
      }
      .nav-links.active{
        height:240px;
      }
      nav-links li a:hover{
        color:#FEDB39;}
      .nav-links li{
        padding: 10px 0;
      }
      .hamburger{
        display: block;
      }
    }
    /*hero*/
#hero{
    min-height: 100vh;
    background: linear-gradient(rgba(8, 0, 0, 0.311),rgba(0, 0, 0, 0.316)),url(hero.jpeg);
    background-position: center;
    background-size: cover;
    display: grid;
    place-content: center;
    text-align: center;
    }
    #hero h1{
        color:#bc1818e7;
        text-align:center; 
        }
    /*about*/
    #about{
        width: 100%;
        padding: 78px 0px;
        background-color: black;
      
      }
      #about img{
        height: auto;
        width: 360px;
        margin-right: 30px;
        
      }
      #about-text{
        width: 550px;
      }
      .main{
        width: 1130px;
        max-width: 95%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
      }
      
      
      .about-text h1{
        color:#FEDB39;
        font-size: 70px;
        text-transform: capitalize;
        margin-bottom: 20px;
      }
      .about-text p{
        color:#DC5F00;
        letter-spacing: 1px;
        line-height: 28px;
        font-size: 18px;
        margin-bottom: 45px;
      
      }
      /*gallery*/
      
      .cards{
       display:grid;
       grid-template-columns:repeat(auto-fit,minmax(400px,1fr));
       padding:20px;
       grid-gap:80px;



      }
      .card{
        background-color: #1c1b29;
        border-radius:20px;
        box-shadow:0 0 30px rgba(0,0,0,.18);

      }
      .container2{
        position:relative;
        clip-path:polygon(0 0,100% 0,100% 85%,0 100%);
      }
      .hhh3{
        color:#bd370a;
        font-size: 20px;
      }
      .imgg{
        width:100%;
        display:block;
        border-radius:20px 20px 0 0;
      }
      .container2:after{
          content:"";
          height:100%;
          width:100%;
          position:absolute;
          top:0;
          left:0;
          border-radius:20px 20px 0 0;
          opacity:0.7;

      }
  .card1>.container2:after{
    background-image: linear-gradient(135deg,#0100ec,#fb36f4);
  }
  .card2>.container2:after{
    background-image: linear-gradient(135deg,#e33d2b,#a2a73adc);
  }
  .card3>.container2:after{
    background-image: linear-gradient(135deg,#0707c0,#36fb7b);
  }
  
  .details{
    padding:20px 10px;
  }
  .details>h3{
    font-weight: 600;
    font-size:18px;
    margin:10px 0 15px 0;
  }
  .details>p{
    color:#bfdc00;
    font-size:15px;
    line-height:30px;
    font-weight:400;
  }
      /*//gallery*/
      
      /*menu section*/
      .imgs img{
        place-content: center;
        padding:4rem;
      }
      /*book now*/
      .hh2{
        color:#aebd0a;
        font-size: 35px;
      }
      .booking{
        place-content: center;
        justify-content: center;
        padding-left:500px;
        margin-top: 70px;
        margin-bottom: 40px;
      }
      /*footer*/
      footer{
        width: 100%;
        position: relative;
        bottom:0;
        background:white;
        color:#161414;
        padding:70px 0 30px;
        border-top-left-radius: 125px;
        font-size:20px;
        line-height: 20px;
      
      }
      .row{
        width:85%;
        margin:auto;
        display:flex;
        flex-wrap:wrap;
        align-items:flex-start;

      }
      .col{
        flex-basis:15%;
        padding:40px;

      }
      .col h3{
        width:fit-content;
        margin-bottom:40px;
        position:relative;
      }
      .col h4 a{
        color:rgb(62, 4, 4);
      }
      .col p a{
        color:rgb(62, 4, 4);
      }
      .email-id{
        width:fit-content;
        border-bottom:1px solid rgb(204, 204, 204);
        margin:10px;
      }
      ul li{
        list-style: none;
        margin-bottom:12 px;

      }
      ul li a{
        text-decoration: none;
        color:rgb(62, 4, 4);
      }
      .col4 .social-links .fab
      { width:40px;
        height:40px;
        border-radius:50%;text-align:center;
        line-height:40px;
        font-size:20px;
        color:#bfdc00;
        background:#000;
        margin-right:30px;
        cursor:pointer;


      }
